{% extends "web_header.html" %} {% block title %}Home{% endblock %} 

{% block content %}

<div>

  <div id="productdetail" class="main">
    <div class='breadcrum'> <span> <a class='breadcrumlinks' href='/'> Home </a> /&nbsp;</span> <span
        id="categorylink"></span> <span id='product_name'> </span> </div>
    <ul id="product-card" class="cards">
    </ul>
  </div>

</div>

<div id="modal">
  <div class="modal-content">
    <div class="header">
      <h2> </h2>
      
    </div>
    <div class="copy">
      <br/>
      <span></span>
      
    </div>
  </div>
  <div class="overlay"></div>
</div>

<div id="cart">
  <div class="main">
    <div class='breadcrum'> <span> <a class='breadcrumlinks' href='./index.html'> Home </a> </span>
      <span>&nbsp;/&nbsp;Checkout</span> <span id='product_name'> </span> </div>
    <ul id="product-card" class="cards">
    </ul>
  </div>
  <br /><br />
  <div class="cartmsg">There are no items in the cart</div>

  <div class="row">
    <div class="col-45">
      <div class="cartcontainer">
        <h4><span style="float:left">Cart</span><br/>
          <span class="price" style="color:black">
            <i class="fa fa-shopping-cart"></i>
          </span>
        </h4>
        <div id="cartitems"> </div>
        <hr>
        <p><span class="totalprice" style="color:black"><b></b></span></p>
      </div>
    </div>
 
  </div>

  <br/>

    <form action="/pay" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js"
        class="stripe-button"
        data-key="pk_test_51M2jAhEA7jhQIwhZZhgz7mIL4T03uZGJIHKvRmQV8aJWaRT1r30sgCwDLnEXTe3QFJ7o1zzgjaJmGncEmzpeHmFJ005VcTux22"
        data-name="T-shirt"
        data-description="Comfortable cotton t-shirt"
        data-amount="500"
        data-currency="eur">
      </script>
    </form>

</div>

{% endblock %}
