h3{
  margin-top:50px!important;
  margin-right: 250px!important;
  text-align: center!important;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width:100%!important;
 }

 .container {
    margin-top:5px!important;
    z-index: 10;
    height: auto;
    width: auto;
    overflow: hidden;
    background: floralwhite;
    position: sticky;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.45);
    top: 0px;
    text-align: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  .containerbody {
    margin-top:5px!important;
    z-index: 10;
    height: auto;
    width: auto;
    overflow: hidden;
    background: white;
    position: sticky;
    /*box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.45);*/
    top: 0px;
    text-align: center;
  }

  .header {
    width: fit-content;
    background: white;
    position: sticky;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.45);
    top: 0px;
    z-index: 10;
    text-align: center;
    overflow: hidden;
    font-family: Open Sans, Roboto, Arial, Helvetica, sans-serif, SimSun;
    float: left;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgba(80, 82, 81, 0.24);
  }

  .logo {
    height: 140px;
    width: 150px;
    margin-left: 20px;
    background: url(./logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    float: left;
    cursor: pointer;
  }

  .cart {
    height: 70px;
    width: 70px;
    background: url(./cart.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    float: right;
    margin: 20px;
    cursor: pointer;
  }

  #cartcount {
    color: lightsalmon;
    font-weight: 500;
    height: 55px;
    width: 55px;
    float: right;
    cursor: pointer;
    padding: 30px 28px 12px 5px;
    display: block;
    left: auto;
    right: 0px;
    margin-top: -8px;
    margin-right: -10px;
    z-index: 100;
  }

  .nav {
   /* margin-left: 50%;*/
  }

  .nav>.nav-links {
    font-size: 18px;
    display: inline;
    /*float: right;
    position: fixed;*/
    overflow: hidden;
    bottom: 0;
  }

  .nav-link, .nav>.nav-links>ul li a {
    color: black;
    line-height: 40px;
    font-size: 18px;
    font-weight: 500;
    display: block;
    padding: 0 8px;
    text-decoration: none;
  }

  .nav>.nav-links>ul {
    list-style: none;
    position: relative;
    /*padding: 0;*/
  }


  .btn{
    font-family: Open Sans, Roboto, Arial, Helvetica, sans-serif, SimSun!important;
    background-color: lightsalmon!important;
    color:black!important;
    font-weight: bold!important;
    width: 150px!important;
    display:inline-block !important;
  }

  .btncancel{
    font-family: Open Sans, Roboto, Arial, Helvetica, sans-serif, SimSun!important;
    background-color: lightsalmon!important;
    color:black!important;
    font-weight: bold!important;
    width: 150px!important;
    display:inline-block !important;
  }

  .nav>.nav-links>ul li:hover {
    background-color: lightsalmon; /*#02AAB0;*/
    /*#5ED2B2;*/
    border-radius: 5px;
  }

  .nav>.nav-links>ul li.active {
    background-color: lightsalmon; /*#02AAB0;*/
    /*#5ED2B2;*/
    border-radius: 5px;
  }

  .nav>.nav-links>ul li {
    display: inline-block;
    margin: 10px;
  }

  .nav>.nav-btn {
    display: none;
    /*Hide toggle button for desktop*/
  }

  .nav>#nav-check {
    display: none;
  }

  ul.navLinks li.icon {
    display: none;
  }

  #productcatalog {
    background-color: white;
    margin-left: 65px;
  }

  /* Font */
  @import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

  /* Design */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    background: white;
    margin: 0;
    padding: 0;
  }

  body {
    color: #272727;
    /*font-family: Open Sans, Roboto, Arial, Helvetica, sans-serif, SimSun;*/
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
  }

  .main {
    position: relative;
    margin: 0 auto;
  }

  h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }

  img {
    height: 345px;
    max-width: 100%;
    vertical-align: middle;
  }


  .btn-grad {
    background-image:linear-gradient(to right, #1b1a1a 0%, #02AAB0 91%, #02AAB0  100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white!important;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  .btn {
    color: black;
    padding: 0.5rem;
    /*font-size: 14px;
  text-transform: uppercase;*/
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 90%;
    margin-left: 6px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    /*background: transparent;*/
  }

  .btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 8px;
    float: left;
  }

  .cards_item {
    display: flex;
    padding: 1rem;
    /*background-color:white;*/
    border-radius: 8px;
  }

  .product_card_desc {
    display: flex;
    padding: 1rem;
    /*background-color:white;*/
    border-radius: 8px;
    width: 55%;
  }

  .product_card_images {
    display: flex;
    padding: 1rem;
    /*background-color:white;*/
    border-radius: 8px;
  }

  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }

    /*.product_cards_item {
    width: 50%;
  }*/
  }

  @media (min-width: 56rem) {
    .cards_item {
      width: 24.3333%;
      margin: 5px;
    }

    /*.product_cards_item {
    width: 45%;
  }*/
  }

  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 1px 60px -5px rgb(0 0 0 / 25%);
    /*box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);*/
    display: flex;
    /*flex-direction: column;*/
    overflow: hidden;
  }

  .card_content {
    /* From https://css.glass */
    /* From https://css.glass */
    /*width: 60%;*/
    backdrop-filter: blur(1px) saturate(158%);
    -webkit-backdrop-filter: blur(1px) saturate(158%);
    background-color:lightsalmon /*rgba(0, 0, 0, 0.64)*/;
    border: 1px solid lightsalmon /*rgba(255, 255, 255, 0.125)*/;

    /*padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);*/
  }

  .card_title {
    color: black;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    margin: 15px 5px 15px 5px;
  }

  .card_text {
    color: #ffffff;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
    text-align: center;
  }

  .card_price {
    color: black;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
  }

  .card_review {
    color: black;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
  }

  .made_by {
    font-weight: 400;
    font-size: 13px;
    margin-top: 35px;
    text-align: center;
  }

  .searchbar-form .search-key-box {
    position: relative;
    width: auto;
    overflow: hidden;
    height: 36px;
    /*padding: 0 0 0 5px;*/
    border: 2px solid lightsalmon; /*#02AAB0;*/
    border-radius: 4px 0 0 4px;
  }

  input {
    margin-left: 5px;
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    padding: 11px 10px 11px 0;
    line-height: 18px;
    /*font-size: 13px;*/
    font-family: Open Sans, Roboto, Arial, Helvetica, sans-serif, SimSun;
    border: none;
    outline: none;
    /*border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;*/
  }

  select {
    width: 50px;
    margin: 15px 0px 15px 0px;
    position: relative;
    display: block;
    line-height: 18px;
    font-size: 13px;
    font-family: Open Sans, Roboto, Arial, Helvetica, sans-serif, SimSun;
  }

  /*#add_to_cart
{
  width: 100px;
  margin: 0;
}*/

  #product_add_to_cart {
    width: 100px;
    margin: 0;
  }

  .search-button{
    visibility: hidden;
  }

  .searchbar-operate-box {
    position: relative;
    float: right;
    padding-right: 40px;
  }

  .search-category {
    position: relative;
    height: 36px;
  }

  #search-dropdown-box {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 130px;
    height: 38px;
    font-family: Open Sans, Roboto, Arial, Helvetica, sans-serif, SimSun;
    opacity: 0;
    z-index: 3;
  }

  .searchbar-form {
    position: relative;
    width: 15%;
    margin-left: 60px;
  }

  .searchbar-form .searchbar-operate-box {
    position: relative;
    float: right;
    padding-right: 40px;
  }

  .searchbar-form .search-cate {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 130px;
    height: 38px;
    font-family: Open Sans, Roboto, Arial, Helvetica, sans-serif, SimSun;
    opacity: 0;
    outline: 0 none;
    z-index: 3;
  }

  .searchbar-form .searchbar-operate-box {
    position: relative;
    float: right;
    padding-right: 40px;
  }

  .searchbar-form .search-category {
    position: relative;
    height: 36px;
  }

  .searchbar-form .search-cate-title {
    position: relative;
    padding: 0 33px 0 15px;
    height: 38px;
    overflow: hidden;
  }




  #view_product_detail {
    margin-bottom: 10px;
  }



  .product-pic {
    /*background-image: url();*/
    width: 100%;
    height: 250px;
    background-size: contain;
    background-position: center no-repeat;
    transition: .6s linear;
  }

  .product-colors {
    margin-top: 15px;
    display: flex;
    /*justify-content: center;*/
  }

  .product-colors span {
    width: 90px;
    height: 90px;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
  }


  .product-colors .active:after {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    box-sizing: border-box;
    left: -4px;
    top: -4px;
  }

  .product-info {
    display: flex;
    align-items: center;
  }

  .product-price {
    font-size: 26px;
  }

  .product-button {
    margin-left: auto;
    text-decoration: none;
    border: 2px solid;
    padding: 8px 24px;
    border-radius: 20px;
    transition: .4s linear;
  }

  .product-button:hover {
    transform: scale(1.06);
  }

  .breadcrum {
    margin-top: 10px;
    text-align: center;
  }

  .breadcrumlinks {
    text-decoration: none;
    margin-left: 20px;
    margin-top: 20px;
    font-family: Open Sans, Roboto, Arial, Helvetica, sans-serif, SimSun;
    font-size: 17px;
    font-weight: 500;
  }


  /*.productdesc-card{
    width: 400px;
    background: white;
    padding: 10px;
    position: absolute;
    right: 17%;
    top: 55%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    font-family: Open Sans,Roboto,Arial,Helvetica,sans-serif,SimSun;    
  } */

  .productstock {
    width: 150px;
    float: right;
  }

  /*End of CSS for product description page*/

  #product_name {
    text-align: center;
    font-size: 17px;
    font-weight: 500;
  }

  .breadcrum>span:nth-child(n+0):nth-last-child(n+2) {
    float: left;
  }

  .breadcrum>span:last-child {
    font-weight: 500;
  }

  #lblqty {
    color: black;
  }

  /*CSS for Modal Pop Up*/

  #modal {
    left: 50%;
    margin: -250px 0 0 -32%;
    opacity: 0;
    position: absolute;
    top: -50%;
    visibility: hidden;
    width: 65%;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    box-sizing: border-box;
  }

  #modal:target {
    opacity: 1;
    top: 60%;
    visibility: visible
  }


  #modal .header,
  #modal .footer {
    border-radius: 5px 5px 0 0
  }

  #modal .footer {
    border: none;
    border-top: 1px solid white;
    border-radius: 0 0 5px 5px
  }

  #modal h2 {
    margin: 0;
    color: black;
    font-size: 18px;
  }

  #modal .btn {
    float: right
  }

  #modal .copy,
  #modal .header,
  #modal .footer {
    padding: 10px;
    color: black;
    width: 100%;
  }

  .modal-content {
    position: relative;
    z-index: 20;
    border-radius: 5px;
    color: #fff;
  }

  #modal .copy {
    background: white;
  }

  .copy span{
    font-size:14px;
    margin: 10px;
  }

  #modal .overlay {
    background-color: #000;
    background: rgba(0, 0, 0, .8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10
  }

  .header a {
    color: black;
    text-decoration: none;
    /*display: inline-block;*/
    float:right;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: lightsalmon;
  }

  .form-control{
    border:1px solid lightsalmon!important;
  }

  #Modalclosebtn
  {
    font-size:18px;
    font-weight: 400;
  }


  /*Start of cart page css*/

  .row {
    display: -ms-flexbox;
  
    display: flex;
    -ms-flex-wrap: wrap;
    
    flex-wrap: wrap;
    margin: 0 -16px;
    width: 90%;
  }

  .col-25 {
    -ms-flex: 25%;
    
    flex: 25%;
  }

  .col-50 {
    -ms-flex: 50%;
    
    flex: 50%;
  }

  .col-75 {
    -ms-flex: 75%;
    
    flex: 75%;
  }

  .col-45 {
    -ms-flex: 45%;
    
    flex: 45%;
  }

  .col-55 {
    -ms-flex: 55%;
    
    flex: 55%;
  }

  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }

  input:hover{
    border-color: lightsalmon!important;
  }

  .cartcontainer {
    background-color: white;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    height: auto;
    width: auto;
    overflow: hidden;
    margin-left: 100px;
    /*position: sticky;*/
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.45);
    top: 0px;
    text-align: center;
  }

  .stripe-button-el
  {
    width:250px!important;
    float:right;
    margin-right:200px;
    background-size: 200% auto;
    border-radius: 10px;
  }

  .stripe-button-el>span
  {
    background:none;
    background-image: linear-gradient(to right, #1b1a1a 0%, #02AAB0 91%, #02AAB0  100%)!important;
  }

  .forminput {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px;
  }

  label {
    margin-bottom: 10px;
    display: block;
    float: left;
    padding-left: 5px;
    font-size: 16px;
    font-weight:600;
  }

  #lblqty
  {
    margin-left:-5px;
  }

  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }

  #productlink {
    float: left;
    text-decoration: none;
  }

  /*.btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }*/

  span.price {
    float: right;
  }

  span.totalprice {
    float: right;
  }

  .cartmsg {
    text-align: center;
  }

  @media screen and (max-width:680px) {
    /*set top header width*/
    .container
    {
      margin:10px;
      width: auto;
    }

    /*to fit entire content width onto screen*/
    html {
      width: fit-content;
    };

    /*set the product description width*/

    .product_card_desc
    {
      width: 100%;
    }

    .hm-middle
    {
      width:140%;
    }

    .cart
    {
      margin: 0px;
    }

    .nav>.nav-links
    {
      display: block;
    }

    .logo
    {
      width:100px;
    }

    .navLinks
    {
      float:right;
    }

    ul.navLinks li:not(:first-child) 
    {
        display: none;
    }

    ul.navLinks li.icon {
      float: right;
      display: inline-block;
    }

    ul.navLinks.responsive 
    {
        position: relative;
    }

    ul.navLinks.responsive li.icon 
    {
      position: absolute;
      right: 0;
      top: 0;
    }

    ul.navLinks.responsive li 
    {
      float: none;
      display: inline;
    }

    ul.navLinks.responsive li a 
    {
      display: block;
      text-align: left;
    }

    .nav > .nav-links {
        position:relative;    
    }

    img{
      height: 100%;
      }

      .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }
      
  }